/* body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 100%;
  } */
html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}
.b{
  height: 50px;
}
.top{
  height: 100%;
  background-color: #00539CFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start{
  display: flex;
  align-items: center;
}
.about{
  background-color: #EEA47FFF;
}
.space{
  margin-top: 0;
}
.flex-bottom{
  display: flex;
  align-items: flex-end;

}
.a{
  font-family: Rockwell, sans-serif;
  font-size: 3rem;
}
.space{
  text-align: center;
}
.contact{
  background-color: #00539CFF;
}
.project{
  background-color: #FAF9F6;
}
.about-flex{
  display: flex;
  flex-direction: column;
}
.p{
  font-size: 1.25rem;
}
.project-flex{
  display: flex;
  justify-content: space-between;
}
.width{
  width: 600px;
}
.gray{
  background-color: gray;
}
.test {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card h3 {
  padding: 2px;
  margin: 8px 0;
  /*   line-height: 20px !important;
  font-size: 18px !important;
  font-weight: 500 !important; */
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
  padding: 2px 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h4 {
  margin-top: auto;
}

.card p {
  margin: 14px 0;
}
.contact-flex{
  display: flex;
  justify-content: space-evenly;
}